<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>VoteNow.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>26</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FF5EEFB5253E95B400D3A5D8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FF5EEFCB253E95B600D3A5D8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FF5EEFD6253E95B600D3A5D8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
