<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>822739156592-htvlc4pbq5naqatapm7sb1davll67c22.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.822739156592-htvlc4pbq5naqatapm7sb1davll67c22</string>
	<key>API_KEY</key>
	<string>AIzaSyDpK5ox8ff6yjnTX3XVexSI0AnZ5iB-Lxg</string>
	<key>GCM_SENDER_ID</key>
	<string>822739156592</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Education.VoteNow</string>
	<key>PROJECT_ID</key>
	<string>votenow-52481</string>
	<key>STORAGE_BUCKET</key>
	<string>votenow-52481.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:822739156592:ios:6a26f19dd3ab8928a5feb5</string>
	<key>DATABASE_URL</key>
	<string>https://votenow-52481.firebaseio.com</string>
</dict>
</plist>